.hero
  background url(images/tobi.png)
  background-image inline-url("tobi.svg", "utf8")
  background-image linear-gradient(to top, #fff, #000)
  width calc(100% - 2rem)

.message
  padding 10 px
  font: 14 px Helvetica
  border: 1 px solid #eee

.warning
  @extends .message
  color #E2E21E
