value = (1)
//      ^ open
//        ^ close

.item[data-x="one"] {}
//   ^ open
//                ^ close

selector = {name}
//         ^ open
//              ^ close

.card {}
//    ^ open
//     ^ close
