primary = #3498db
// <- variable
//      ^ operator
//        ^ string.special

ratio = 16px
//        ^ type.builtin

result = darken(primary, 10%)
//       ^ function.builtin

custom(primary)
// <- function

@import "theme"
// <- keyword
//      ^ string

body
  // <- tag
  color primary
  // <- property
  //    ^ variable
