shadow(value)
  // <- function.around
  color value
  // <- function.inside

.card
  // <- class.around
  color red
  // <- class.inside

// Documentation for the next rule.
// <- comment.around
.notice
  color blue
